<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/style.css' />
  </head>
  <body>
    <h1>First Node app</h1>
    <p>Welcome</p>
    <h4><a href="/employees">Employee</a></h4>
  </body>
</html>